@import '../../styles/variables/_index.scss';

.section {
  padding: $spacing-xl 0;
  background-color: $background-light;
}

.title {
  text-align: left;
  // margin-bottom: $spacing-lg;
  font-size: 4rem;
  font-weight: $font-weight-heading;
  font-family: $font-family-heading;
}

.description {
  font-family: $font-family-heading;
  $font-weight-heading: bold;
  margin-bottom: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-xl;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: 2fr 3fr;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: $shadow-md;
}

.videoContainer {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9 aspect ratio
  margin: $spacing-lg 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  @media (max-width: $breakpoint-sm) {
    padding-top: 75%; // 4:3 aspect ratio for mobile
  }
}
