@import '../../styles/variables/_index.scss';

.section {
  padding: $spacing-lg 0;
  // background-color: $background-light;
  background-color: #858585a9;
  font-family: $font-family-base;
}

.title {
  text-align: left;
  margin-bottom: $spacing-lg;
  font-size: 3rem;
  font-weight: $font-weight-heading;
  font-family: $font-family-heading;
  color: #ffffff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  // margin-bottom: $spacing-sm;
  margin-bottom: 2px;
}

.card {
  display: flex;
  align-items: center;
  padding: $spacing-xs;
  transition: all $transition-fast;
  background-color: rgb(0, 0, 0);
  border: 4px solid $secondary-color;
  height: 50px;
  overflow: hidden;

  &:hover {
    box-shadow: $shadow-md;
  }
}

.iconWrapper {
  margin-right: $spacing-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.text {
  flex-grow: 1;
} 