@import '../../styles/variables/_index.scss';

.navigation {
  position: sticky; // Прилипание
  top: 0; // Располагаем элемент у верхнего края
  z-index: 1000; 
  padding: $spacing-lg 0;
  background-color: $primary-color; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Тень для визуального разделения
}

.button {
  
  height: 100%;
  width: 100%;
  transition: transform $transition-slow; // Указываем transition на сам элемент
  transform: translateY(0);
  &:hover {
    transform: translateY(-2px);
    transition: $transition-slow;
  }
}

.buttonIcon {
  margin-right: $spacing-sm;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-md;
  
  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(6, 1fr);
  }
} 